*.prefab filter=lfs diff=lfs merge=lfs -text
Assets/Almaz[[:space:]]Assets/ENV[[:space:]]NULLED.prefab filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
